{:index 0, :time 10278148, :type :invoke, :process 0, :f :generate, :value nil}
{:index 1, :time 13227876, :type :invoke, :process 1, :f :generate, :value nil}
{:index 2, :time 13446750, :type :info, :process :nemesis, :f :start-partition, :value :majorities-ring}
{:index 3, :time 15644123, :type :invoke, :process 2, :f :generate, :value nil}
{:index 4, :time 16640551, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n1" #{"n2"}, "n2" #{"n0"}, "n0" #{"n1"}}]}
{:index 5, :time 2358254869, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 6, :time 2360167571, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 7, :time 5017468080, :type :info, :process 2, :f :generate, :value nil, :error :net-timeout}
{:index 8, :time 5017731248, :type :info, :process 0, :f :generate, :value nil, :error :net-timeout}
{:index 9, :time 5017810634, :type :info, :process 1, :f :generate, :value nil, :error :net-timeout}
{:index 10, :time 5017849215, :type :invoke, :process 4, :f :generate, :value nil}
{:index 11, :time 5019428755, :type :invoke, :process 5, :f :generate, :value nil}
{:index 12, :time 5025287961, :type :invoke, :process 3, :f :generate, :value nil}
{:index 13, :time 10025183102, :type :info, :process 4, :f :generate, :value nil, :error :net-timeout}
{:index 14, :time 10025338642, :type :info, :process 5, :f :generate, :value nil, :error :net-timeout}
{:index 15, :time 10025427659, :type :invoke, :process 7, :f :generate, :value nil}
{:index 16, :time 10028738105, :type :invoke, :process 8, :f :generate, :value nil}
{:index 17, :time 10032653651, :type :info, :process 3, :f :generate, :value nil, :error :net-timeout}
{:index 18, :time 10032799381, :type :invoke, :process 6, :f :generate, :value nil}
{:index 19, :time 10988771428, :type :info, :process :nemesis, :f :start-partition, :value :majorities-ring}
{:index 20, :time 10991444942, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n1" #{"n0"}, "n0" #{"n2"}, "n2" #{"n1"}}]}
{:index 21, :time 15033631628, :type :info, :process 7, :f :generate, :value nil, :error :net-timeout}
{:index 22, :time 15033895156, :type :invoke, :process 10, :f :generate, :value nil}
{:index 23, :time 15036296616, :type :info, :process 8, :f :generate, :value nil, :error :net-timeout}
{:index 24, :time 15036402763, :type :invoke, :process 11, :f :generate, :value nil}
{:index 25, :time 15041578529, :type :info, :process 6, :f :generate, :value nil, :error :net-timeout}
{:index 26, :time 15041725438, :type :invoke, :process 9, :f :generate, :value nil}
{:index 27, :time 16215289547, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 28, :time 16220946262, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 29, :time 20038768529, :type :info, :process 10, :f :generate, :value nil, :error :net-timeout}
{:index 30, :time 20038978625, :type :info, :process 11, :f :generate, :value nil, :error :net-timeout}
{:index 31, :time 20039047239, :type :invoke, :process 13, :f :generate, :value nil}
{:index 32, :time 20040143125, :type :invoke, :process 14, :f :generate, :value nil}
{:index 33, :time 20049399775, :type :info, :process 9, :f :generate, :value nil, :error :net-timeout}
{:index 34, :time 20049552516, :type :invoke, :process 12, :f :generate, :value nil}
{:index 35, :time 25052770168, :type :info, :process 13, :f :generate, :value nil, :error :net-timeout}
{:index 36, :time 25052927267, :type :info, :process 14, :f :generate, :value nil, :error :net-timeout}
{:index 37, :time 25052979123, :type :invoke, :process 16, :f :generate, :value nil}
{:index 38, :time 25066681645, :type :invoke, :process 17, :f :generate, :value nil}
{:index 39, :time 25079257135, :type :info, :process 12, :f :generate, :value nil, :error :net-timeout}
{:index 40, :time 25079416435, :type :invoke, :process 15, :f :generate, :value nil}
{:index 41, :time 28235747673, :type :info, :process :nemesis, :f :start-partition, :value :majority}
{:index 42, :time 28240195773, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n0" #{"n2" "n1"}, "n2" #{"n0"}, "n1" #{"n0"}}]}
{:index 43, :time 30083266408, :type :info, :process 17, :f :generate, :value nil, :error :net-timeout}
{:index 44, :time 30083457245, :type :info, :process 16, :f :generate, :value nil, :error :net-timeout}
{:index 45, :time 30090830864, :type :info, :process 15, :f :generate, :value nil, :error :net-timeout}
